[
	{
		"product": "front-utils",
		"acronym": "futils",
		"layer": "frontend",
		"application": "front-utils",
		"roots": [],
		"integration": {
			"javascript": {
				"npm": ["install", "update"],
				"grunt": "deploy"
			}
		},
		"infrastructure": {
			"s3": {
				"ApplicationDirectory": "futils"
			}
		}
	}
]